# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
venv/
ENV/
.env
*.env

# SQLite database files
*.db
*.sqlite
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode/IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# API keys and sensitive info
*config.py
.env
